/* УДАЛИТЬ */
div {
  border: 1px solid black;
}
button {
  border: 1px solid rgb(0, 225, 255);
}

/* ОСНОВНОЙ КОНТЕЙНЕР ИГРЫ */
/* Основной стиль для всех устройств и экранов */
.main {
  padding: 10px;
  width: 100wh; /* Ширина контейнера равна ширине видимой области экрана */
  height: 100vh; /* Высота контейнера равна высоте видимой области экрана */
}

/* Для компьютерных браузеров (ширина экрана 769 пикселей) */
@media only screen and (min-width: 769px) {
  .main {
    width: 46vh; /* Ширина контейнера равна ширине видимой области экрана */
    height: 100vh; /* Высота контейнера равна высоте видимой области экрана */
    margin: 0 auto; /* Горизонтальное выравнивание по центру */
  }
}

/* СТРАНИЦА МЕНЮ */
.menu-page {
  width: 100%;
  height: 100%;
  display: flex; /* Устанавливаем родительский контейнер как flex-контейнер */
  flex-direction: column; /* Выставляем направление элементов в столбец */
  justify-content: space-between; /* Равномерно распределяем пространство между элементами */
}

.game-name {
  margin-top: 10px;
  font-size: 40px;
  text-align: center;
  margin-left: 10px;
  margin-right: 10px;
}

.menu-buttons {
  bottom: 0;
  text-align: center;
  margin-top: auto;
  margin-bottom: 10px;
  margin-left: 10px;
  margin-right: 10px;
}

.menu-button {
  font-size: 26px;
  width: 300px;
  margin-left: 10%;
  margin-right: 10%;
}